body {
  font-family: sans-serif;
  margin: 0;
  background-color: #CCC;
}
header {
  margin: 0;
}

h1 {
  text-align: right;
  background-color: rgb(253,200,47);
  margin: 0;
  font-family: 'Syncopate';
  padding: 2px;
}

.container {
  padding: 5px;
}

#keywords {
  display: block;
  width: 600px;
}

button#graphGenerator {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#countsSubtitle, #originalSubtitle, pre {
  display: none;
}
